*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    width: 100vw;
    height: 25vh;
    flex-direction: column;
    overflow: hidden; 
}

.fundo{
    width: 100vw;
    height: 50vh;
    z-index: 0;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
}

.imagemFundo{
    background-image: radial-gradient(skyblue, blue);
    background-size: 100%;
    background-position: top;
}

.flex{
    display: flex;
}

.posicao-relativa{
    position: relative;
}

.centralizar{
    justify-content: center;
    align-items: center;
}

header h1, header h5{
    display: flex;
    color: #fff;
    text-shadow: 0px 0px 0px , 0 0 .3em blue;
    z-index: 1;
    margin: 0 auto;
}

header h1{
    top: 50px;
}

header h5{
    top: 10px;
}

.circuloLogo {
    top: -40px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 2;
}

.icons{
    font-size: 4em;
    color: blue;
}

section{
    padding-top: 10vh;
    width: 100vw;
    height: 50%;
    background-color: #fff;
    z-index: 1;
}

form {
    width: 400px;
    height: auto;
    padding: 20px;
    border: 1px solid black;
}

label{
    display: block;
    width: 300px;
    height: auto;
    padding: 2px;
}  

.txt {
    width: 300px;
    height: 30px;
}

fieldset input{
    border: 1px solid #000;
    border-radius: 5px;
}

input#buscar{
    width: 300px;
    height: 30px;
    margin-top: 5px;
}

input#buscar{
    width: 300px;
    height: 30px;
    margin-top: 5px;
    color: #fff;
    background: content-box radial-gradient(skyblue, blue);
    text-shadow: 0px 0px 0px , 0 0 .3em blue;
}

#buscar:hover{
    cursor: grab;
}